$header_background_color: #fcfcfc;
$border_color: #efefef;
$shadow_color: #e6e6e6;

$primary_light: #517193;
$primary_dark: #44647D;
$primary_darker: #324D5C;
$accent_teal: #46B29D;
$accent_yellow: #FEB74E;
$accent_orange: #FFAD6F;
