$header_background_color: #fcfcfc;
$card_background_color: #fdfdfd;
$border_color: #efefef;
$shadow_color: rgba(0,0,0,0.11);

$primary_light: #517193;
$primary_dark: #44647D;
$primary_darker: #324D5C;
$accent_teal: #46B29D;
$accent_yellow: #FEB74E;
$accent_orange: #FFAD6F;
