$header_background_color: #fcfcfc;
$card_background_color: #fdfdfd;
$border_color: #efefef;
$shadow_color: rgba(0,0,0,0.11);
$shadow_color_dark: rgba(0,0,0,0.16);

$primary_light: #517193;
$primary_dark: #44647D;
$primary_darker: #324D5C;
$accent_teal: #46B29D;
$accent_yellow: #FEB74E;
$accent_orange: #FFAD6F;

$color_list: $accent_yellow, $accent_orange, $primary_light;

$error: #B71C1C;
$error_light: $accent_orange;

$form_font: 'Baloo Da 2';
$form_font_weight: 600;
$form_font_size: 19px;


$card_header: 20px;
$card_details: 16px;
$progress_label_size: 16px;
$progress_label_size_profile: 18px;

$header_profile_size: 21px;